In [32]:
import pandas as pd
import numpy as np
test_a_1 ='test/test_a_1.txt'
test_a_2 ='test/test_a_2.txt'
test_a_3 ='test/test_a_3.txt'
test_df ='test/test_df.txt'
from sklearn.model_selection import train_test_split

In [3]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                    0 : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                    1 : ['a', 'b', 'c', 'd','e', 'f', 'g', 'h']})

In [4]:
print (df)

     A      0  1
0  foo    one  a
1  bar    one  b
2  foo    two  c
3  bar  three  d
4  foo    two  e
5  bar    two  f
6  foo    one  g
7  foo  three  h

In [50]:
b = np.array_split(df,3)

In [6]:
print (type(b))
print ('\n')
print (b)

<class 'list'>


[     A    0  1
0  foo  one  a
1  bar  one  b
2  foo  two  c,      A      0  1
3  bar  three  d
4  foo    two  e
5  bar    two  f,      A      0  1
6  foo    one  g
7  foo  three  h]

In [7]:
a = pd.DataFrame(b,dtype=object)
print (a)

                                                   0
0       A    0  1
0  foo  one  a
1  bar  one  b
2...
1       A      0  1
3  bar  three  d
4  foo    tw...
2       A      0  1
6  foo    one  g
7  foo  thre...

C:\Python310\lib\site-packages\pandas\core\internals\construction.py:568: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

In [8]:
print(a[0][0])

     A    0  1
0  foo  one  a
1  bar  one  b
2  foo  two  c

In [31]:
c= np.append(arr=a[0][0],values=a[0][1],axis=0)
d = pd.DataFrame(np.append(arr=c,values=a[0][2],axis=0),columns=(np.append(['A'],list(range(len(df.columns)-1)))))
print(d)

     A      0  1
0  foo    one  a
1  bar    one  b
2  foo    two  c
3  bar  three  d
4  foo    two  e
5  bar    two  f
6  foo    one  g
7  foo  three  h

In [10]:
# np.savetxt(test_a_1,a)
# # np.savetxt(test_a_2,a[1])
# # np.savetxt(test_a_3,a[2])
# np.savetxt(test_df,df)

In [16]:
list_1 = list(range(5))
print(list_1)

[0, 1, 2, 3, 4]

In [28]:
list_2 = list(range(len(df.columns)-1))
print (list_2)
list_3 = np.append(['A'],(list_2))
print(list_3)

[0, 1]
['A' '0' '1']

In [33]:
print(d)

     A      0  1
0  foo    one  a
1  bar    one  b
2  foo    two  c
3  bar  three  d
4  foo    two  e
5  bar    two  f
6  foo    one  g
7  foo  three  h

In [35]:
#spliting and joining didn't work in 07 for x_test
#Trying split train frm sk learn

In [38]:
part_1, part_2 = train_test_split(df,test_size=0.2,random_state=1)

In [39]:
print (part_1)

     A      0  1
1  bar    one  b
6  foo    one  g
0  foo    one  a
4  foo    two  e
3  bar  three  d
5  bar    two  f

In [40]:
#train_test_split doesn't give same sorting as the orginal file

In [51]:
total_rows = len(df)
test_rows = int(total_rows * 0.5)
train_rows = total_rows - test_rows
split_indices = [train_rows, total_rows]

# Split the DataFrame based on the split indices
train_df, test_df = df.iloc[:split_indices[0]], df.iloc[split_indices[0]:]

In [48]:
train_df

     A      0  1
0  foo    one  a
1  bar    one  b
2  foo    two  c
3  bar  three  d